* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 50px;
    background-color: #2d5159;
    color: #fff;
    font-family: Lato, sans-serif;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
    margin-top: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.row {
    display: flex;
    margin-bottom: 15px;
}
header {
    justify-content: space-between;
}
.caja {
    border: 2px dashed #BAA978;
    border-radius: 10px;
    padding: 20px;
    flex: 4;
}
.caja:nth-child(2n + 1) {
    margin-right: 15px;
    flex: 1;
}
.semaforo {
    display: flex;
    justify-content: center;
}
.semaforo-vehiculos li {
    border-radius: 50%;
    border: 3px solid #000;
    width: 75px;
    height: 75px;
    background-color: #000;
    position: relative;
    margin-bottom: 5px;
}
.semaforo-vehiculos li:after {
    content: "";
    width: 69px;
    height: 69px;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    transition: all 0.4s;
}
.semaforo-vehiculos li.on:after {
    opacity: 1;
}
.semaforo-vehiculos li.rojo:after {
    background-color: red;
}
.semaforo-vehiculos li.amarillo:after {
    background-color: yellow;
}
.semaforo-vehiculos li.verde:after {
    background-color: green;
}
.semaforo-peatones li {
    opacity: 0.2;
    transition: all 0.4s;
}
.semaforo-peatones li.on {
    opacity: 1;
}
button {
    font-family: inherit;
    font-size: inherit;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #dfa847;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover {
    background-color: #baa978;
}